html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(./oven-pizza.jpg);
  background-size: cover;  
  background-attachment: fixed;
  background-repeat: no-repeat; 
}

#content {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.header, .info, .footer {
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px 0;
}

.restaurant-name {
  font-size: 3.1rem;
}

.navbar > ul {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
  font-size: 1.6rem;
  padding: 20px 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 680px;
  flex: 1 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
  font-size: 1.4rem;
  padding: 50px 100px;
  width: 650px;
}

.chef-img {
  width: 300px;
  height: 300px;
  clip-path: circle();
}

.footer {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 1.2rem;
  color: white;
  padding: 10px 0;
}

.copyright {
  display: flex;
  gap: 5px;
}

a, a:visited {
  border: none;
  outline: none;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}